@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-background text-white;
  }

  .add-template-btn {
    @apply relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium rounded-lg  bg-gradient-to-br from-purple-600 to-primary   text-white focus:ring-4 focus:outline-none focus:ring-primary_faded dark:focus:ring-blue-800;
  }
}

.h-custom{
  max-height: 450px;
}

.add-modal-height {
  max-height: 50rem;
}

.workout-container {
  height: 60rem;
}

.modal-scroll::-webkit-scrollbar {
  width: 2px;
  border-radius: 50%;
}

.modal-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.modal-scroll::-webkit-scrollbar-thumb {
  background-color: #bb86fc;
}

.text-custom {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 16 * 1.6 * 2; /* Fallback for non-webkit */
  margin: 0 auto;
  line-height: 1.6;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #bb86fc;
}
