.root {
  padding-top: 10rem;
  text-align: center;
}

.label {
  font-weight: 900;
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 50px;
  color: light-dark(var(--mantine-colors-gray-2), var(--mantine-colors-dark-4));
}
