.link {
  display: flex;
  gap: var(--mantine-spacing-xs);
  text-decoration: none;
  justify-content: left;
  padding: 10px;
  align-items: center;
  font-size: var(--mantine-font-size-xs);
  color: light-dark(var(--mantine-color-red-5) var(--mantine-color-red-5));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-xs);
  font-weight: 400;
  width: 100%;
}

.link:hover {
  color: light-dark(var(--mantine-color-white), var(--mantine-color-white));
  background-color: light-dark(
    var(--mantine-color-gray-4),
    var(--mantine-color-gray-9)
  );
}

.link:active {
  color: var(--mantine-color-white);
  background-color: var(--mantine-color-gray-9);
}
